<div id="cabecera">
<ion-buttons>
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<a href="/tabs/tab1"><img width="40px" height="auto" src="../../assets/img/IntoPC.png"  height="auto" ></a>
<ion-searchbar border-color="primary" placeholder="Buscar"></ion-searchbar>
</div>
<ion-content>
  <div id="opciones">
    <h5 id="titulo">Placas base</h5>
    <div id="ordenar">
      <p>Ordenar</p>
      <ion-icon name="chevron-down-outline" style="zoom:2.0;"></ion-icon>
    </div>
    <ion-icon name="filter-outline" style="zoom:2.0;"></ion-icon>
  </div>
  <div id="container">
  
  <div id="productos">
  <div id="producto">
    <div id="fotoDescuento">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
        <h1 id="descuento">33%</h1>
      </div>
      <img src="../../assets/img/placa1.1.jpg" id="fotoProducto"alt="">
      
    </div>
    <div id="especificaciones">
      <div id="precios">
        <p id="precio">58,90€</p>
        <strike><p id="noRebaja">82,98€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"> <b>Gigabyte</b> B550M DS3H </span>
        <p id="fechaProducto">Llega el 30/11/21</p>
    </div>
    <div id="espacio">
    <ion-chip color="success">En Stock</ion-chip>
    <ion-icon name="heart-outline" color="danger" style="zoom: 1.5; margin-top: 5%;"></ion-icon>
  </div>
    </div>
  </div>
  <div id="producto">
    <div id="fotoDescuento">
      <img src="../../assets/img/placa2.jpg" id="fotoProducto"alt="">
      
    </div>
    <div id="especificaciones">
      <div id="precios">
        <p id="precio">200€</p>
      </div>
      <div id="info">
        <span class="ion-text-start"> <b>Gigabyte</b> Gaming X V2</span>
        <p id="fechaProducto">Llega el 19/11/21</p>
    </div>
    <div id="espacio">
    <ion-chip color="success">Poco Stock</ion-chip>
    <ion-icon name="heart-outline" color="danger" style="zoom: 1.5; margin-top: 5%;"></ion-icon>
  </div>
    </div>
  </div>
  <div id="producto">
    <div id="fotoDescuento">
      <div id="promociones">
        <h1 id="descuento">20%</h1>
      </div>
      <img src="../../assets/img/placa3.jpg" id="fotoProducto"alt="">
      
    </div>
    <div id="especificaciones">
      <div id="precios">
        <p id="precio">129,91€</p>
        <strike><p id="noRebaja">163,76€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"><b>MSI</b> X570 A Pro</span>
        <p id="fechaProducto">Llega el 30/11/21</p>
    </div>
    <div id="espacio">
    <ion-chip color="success">En Stock</ion-chip>
    <ion-icon name="heart-outline" color="danger" style="zoom: 1.5; margin-top: 5%;"></ion-icon>
  </div>
    </div>
  </div>
  <div id="producto">
    <div id="fotoDescuento">
      <div id="promociones">
        <h1 id="descuento">26%</h1>
      </div>
      <img src="../../assets/img/placa4.jpg" id="fotoProducto"alt="">
      
    </div>
    <div id="especificaciones">
      <div id="precios">
        <p id="precio">149,49€</p>
        <strike><p id="noRebaja">202,82€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"> <b>Asus</b> PRIME Z590-P</span>
        <p id="fechaProducto">Llega el 19/11/21</p>
    </div>
    <div id="espacio">
    <ion-chip color="success">En Stock</ion-chip>
    <ion-icon name="heart-outline" color="danger" style="zoom: 1.5; margin-top: 5%;"></ion-icon>
  </div>
    </div>
  </div>
  
</div>
</div>
</ion-content>