

<ion-content [fullscreen]="true">
  <div id="cabecera"  >
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a href="/tabs/tab1"><img width="40px" height="auto" src="../../assets/img/IntoPC.png"  height="auto"></a>
 
      <ion-searchbar border-color="primary" placeholder="Buscar"></ion-searchbar>

  </div>
 <img src="../../assets/img/Sorteo.jpg" alt="" id="anuncio">
 <div id="container">
  <h2 id="titulo1">Ofertas especiales</h2>
  <ion-slides pager="true">
    <ion-slide>
      <div id="producto">
        <a href="/tabs/producto" id="enlace"></a>
        <div id="promociones">
        <h1 id="descuento">33%</h1>
      </div>
        <img width="40px" height="auto" src="../../assets/img/placa1.1.jpg" id="fotoProducto"alt="">
        <div id="precios">
          <p id="precio" >58,90€</p>
          <strike><p id="noRebaja">87,92€</p></strike>
        </div>
        <div id="info">
          <span class="ion-text-start"> <b>Gigabyte</b> B550M DS3H </span>
          <p id="fechaProducto">Llega el 30/11/21</p>
      </div>
      <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart-outline" color="danger"></ion-icon>
    </div>
    </div>  <div id="producto">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
      <h1 id="descuento2">27%</h1>
    </div>
      <img width="40px" height="auto" src="../../assets/img/ram.jpg" id="fotoProducto"alt="">
      <div id="precios">
        <p id="precio" >82,98€</p>
        <strike><p id="noRebaja">114,05€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"><b>Team Group</b>T Force Delta RGB</span>
        <p id="fechaProducto">Llega el 29/11/21</p>
    </div>
    <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
  </div>
  
    </ion-slide>
    <ion-slide>
      <div id="producto">
        <a href="/tabs/producto" id="enlace"></a>
        <div id="promociones">
        <h1 id="descuento">15%</h1>
      </div>
        <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
        <div id="precios">
          <p id="precio" >200€</p>
          <strike><p id="noRebaja">275€</p></strike>
        </div>
        <div id="info">
          <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
          <p id="fechaProducto">Llega el 19/11/21</p>
      </div>
      <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
    </div>  <div id="producto">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
      <h1 id="descuento2">15%</h1>
    </div>
      <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
      <div id="precios">
        <p id="precio" >200€</p>
        <strike><p id="noRebaja">275€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
        <p id="fechaProducto">Llega el 19/11/21</p>
    </div>
    <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
  </div>
  
    </ion-slide>
    <ion-slide>
      <div id="producto">
        <a href="/tabs/producto" id="enlace"></a>
        <div id="promociones">
        <h1 id="descuento">15%</h1>
      </div>
        <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
        <div id="precios">
          <p id="precio" >200€</p>
          <strike><p id="noRebaja">275€</p></strike>
        </div>
        <div id="info">
          <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
          <p id="fechaProducto">Llega el 19/11/21</p>
      </div>
      <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
    </div>  <div id="producto">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
      <h1 id="descuento2">15%</h1>
    </div>
      <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
      <div id="precios">
        <p id="precio" >200€</p>
        <strike><p id="noRebaja">275€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
        <p id="fechaProducto">Llega el 19/11/21</p>
    </div>
    <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
  </div>
  
    </ion-slide>
  </ion-slides >
  <h2  id="titulo2">Outlet</h2>
  <ion-slides pager="true">
    <ion-slide>
      <div id="producto">
        <a href="/tabs/producto" id="enlace"></a>
        <div id="promociones">
        <h1 id="descuento">18%</h1>
      </div>
        <img width="40px" height="auto" src="../../assets/img/disco.jpg" id="fotoProducto"alt="">
        <div id="precios">
          <p id="precio" >39,99€</p>
          <strike><p id="noRebaja">48,90€</p></strike>
        </div>
        <div id="info">
          <span class="ion-text-start"> <b>Kioxia</b> Execeria 480GB SSD SATA</span>
          <p id="fechaProducto">Llega el 28/11/21</p>
      </div>
      <div id="espacio">
      <ion-chip color="success" style="width: 100%;">Poco Stock</ion-chip>
      <ion-icon name="heart-outline" color="danger"></ion-icon>
    </div>
    </div>  <div id="producto">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
    </div>
      <img width="40px" height="auto" src="../../assets/img/placa2.jpg" id="fotoProducto"alt="">
      <div id="precios">
        <p id="precio" >129,21€</p>
      </div>
      <div id="info">
        <span class="ion-text-start"> <b>Gigabyte</b> B550 GAMING X V2</span>
        <p id="fechaProducto">Llega el 01/12/21</p>
    </div>
    <div id="espacio">
      <ion-chip color="success" style="width: 100%;">Poco Stock</ion-chip>
      <ion-icon name="heart-outline" color="danger"></ion-icon>
    </div>
  </div>
  
    </ion-slide>
    <ion-slide>
      <div id="producto">
        <a href="/tabs/producto" id="enlace"></a>
        <div id="promociones">
        <h1 id="descuento">15%</h1>
      </div>
        <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
        <div id="precios">
          <p id="precio" >200€</p>
          <strike><p id="noRebaja">275€</p></strike>
        </div>
        <div id="info">
          <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
          <p id="fechaProducto">Llega el 19/11/21</p>
      </div>
      <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
    </div>  <div id="producto">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
      <h1 id="descuento2">15%</h1>
    </div>
      <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
      <div id="precios">
        <p id="precio" >200€</p>
        <strike><p id="noRebaja">275€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
        <p id="fechaProducto">Llega el 19/11/21</p>
    </div>
    <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
  </div>
  
    </ion-slide>
    <ion-slide>
      <div id="producto">
        <a href="/tabs/producto" id="enlace"></a>
        <div id="promociones">
        <h1 id="descuento">15%</h1>
      </div>
        <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
        <div id="precios">
          <p id="precio" >200€</p>
          <strike><p id="noRebaja">275€</p></strike>
        </div>
        <div id="info">
          <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
          <p id="fechaProducto">Llega el 19/11/21</p>
      </div>
      <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
    </div>  <div id="producto">
      <a href="/tabs/producto" id="enlace"></a>
      <div id="promociones">
      <h1 id="descuento2">15%</h1>
    </div>
      <img width="40px" height="auto" src="../../assets/img/laptop-gad3c47ed4_1280.png" id="fotoProducto"alt="">
      <div id="precios">
        <p id="precio" >200€</p>
        <strike><p id="noRebaja">275€</p></strike>
      </div>
      <div id="info">
        <span class="ion-text-start"> Monitor <b>Asus</b> 24" 165hz</span>
        <p id="fechaProducto">Llega el 19/11/21</p>
    </div>
    <div id="espacio">
      <ion-chip color="success">En Stock</ion-chip>
      <ion-icon name="heart" color="danger"></ion-icon>
    </div>
  </div>
  
    </ion-slide>
  </ion-slides>
 
</div>
<img src="../../assets/img/telegram.jpg" alt="">
</ion-content>
