#cabecera{
    display: flex;
    width: 100%;
    height: 75px;
    padding-left: 25px;
    padding-top: 25px;
}
#perfil{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-top: 7.5%;
}
#opciones{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;

}
#ajustes{
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
}