<ion-content [fullscreen]="true">
    <div id="cabecera">
      <a href="/tabs/tab1"><img width="40px" height="auto" src="../../assets/img/IntoPC.png"  height="auto" ></a>
    </div>  
    
    <div id="ajustes">
      <div id="perfil">
        <img width="120px" height="auto" src="../../assets/img/user.png"  height="auto" >
        <h1 style="font-weight: 350;">Nick1234</h1>
      </div>  
    <div id="list">
      <ion-list lines="none">
          <ion-item>
          <ion-label id="opciones">Mis pedidos</ion-label>
          <ion-icon name="chevron-forward-outline"></ion-icon>
          </ion-item>
          <ion-item>
            <ion-label id="opciones">Editar perfil</ion-label>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-label id="opciones">Mis valoraciones</ion-label>
              <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>  
              <ion-item>
                <ion-label id="opciones">Mis preguntas</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label id="opciones">Mis direcciones y tarjetas</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-item>
                <ion-label id="opciones">Ajustes</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
              <ion-item href="/login">
                <ion-label id="opciones">Salir</ion-label>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </ion-item>
      </ion-list>

    </div>  


    </div>
</ion-content>
