
<ion-content>
<div id="container">
  <h6 style="padding-top: 5%;">Resumen del pedido</h6>
  <div id="pedido">
    <h6>Pedido realizado el 26/11/2021</h6>
    <div id="rectangulo">
      <h6 style="padding-left: 5%;">Calle falsa 123, 2ºA</h6>
      <div id="interior">
        <div id="productos">
          <div id="producto">
            <div id="fotoDescuento">
              <img src="../../assets/img/placa1.1.jpg" id="fotoProducto"alt="">
              </div>
            <div id="especificaciones">
              
              <div id="info">
                <span class="ion-text-start"><b>Gigabyte</b> B550M DS3H </span>
                <div id="precios">
                  <p id="precio">58,90€</p>
                </div>
                <p id="fechaProducto">Llega el 30/11/21</p>
            </div>
            </div>
          </div>
          
          <div id="footer">
            <label style="padding-left: 5%; margin-top: 5%; font-size: 15px;">Total: 58,90€ </label>
            <div id="valorar">
              <ion-button color="secondary" shape="round" style="font-family: 'Quicksand', sans-serif;" fill="outline" >Valorar <ion-icon name="star" color="secondary" style="margin-bottom: 5%; margin-left: 5%; zoom: 1.2;"></ion-icon></ion-button>
              
            
          </div>
          </div>
          
              </div>









      </div>
    </div>
    <img id="logo" src="assets/img/Logo.png">
  </div>
  
</div>
</ion-content>
