<ion-content>

<div id="cabecera">
  <a href="/tabs/tab2"><ion-icon name="arrow-back-outline" style="zoom:2;"></ion-icon></a>
</div>  
<div id="container">
  <h5 id="titulo1">Dirección</h5>
  <div style="padding-left: 10%;"><ion-checkbox color="medium"></ion-checkbox><label id="check">Calle falsa 123, 2ºA</label></div>
  <div id="direcciones">
  
  <label id="eliminarProductos">+ Añadir dirección</label>
</div>

<h5 id="titulo1">Metodo de pago</h5>
<div style="display: flex ; justify-content: center;">
<div id="elecciones">
  <div id="eleccion"><ion-icon name="card-outline" style="zoom: 2;"color="secondary" ></ion-icon><label>Visa</label></div>
  <div id="eleccion"><ion-icon name="logo-paypal" style="zoom: 2; padding-left: 5px;"color="medium" ></ion-icon><label>PayPal</label></div>
  <div id="eleccion"><ion-icon name="cash-outline" style="zoom: 2; padding-left: 14px;"color="medium" ></ion-icon><label >Transferencia</label></div>
</div>
</div>
<div id="tarjeta"><div><ion-checkbox color="medium"></ion-checkbox><label id="check">Tarjeta finalizada en 5843</label></div>
<div id="nombre"><ion-icon name="card-outline" style="zoom: 1.5;"color="secondary" ></ion-icon><label style="font-size: 13px; margin-top: 4px;">Pepe Sanchez Lopez</label></div>
</div>
<div id="direcciones">

<label id="eliminarProductos">+ Añadir tarjeta</label>
</div>
<div style="display: flex; flex-direction: column; justify-content: center;">
<h2 style="text-align: center;">Total: 58,90€</h2>
<ion-button id="botonEntrar" color="secondary" shape="round" style="font-family: 'Quicksand', sans-serif;" href="/tabs/pedido">Finalizar pedido</ion-button>
</div>
</div>

 
</ion-content>
