
<ion-content>
  <div id="cabecera"  >
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <a href="/tabs/tab1"><img width="40px" height="auto" src="../../assets/img/IntoPC.png"  height="auto"></a>
 
      <ion-searchbar border-color="primary" placeholder="Buscar"></ion-searchbar>

  </div>
  <div id="container">
  <div id="producto">
    <div id="promociones">
      <h1 id="descuento">33%</h1>
    </div>
    <div id="fotoDescuento">
      
      <ion-slides id="slider1" pager="true">
      <ion-slide>
      <img src="../../assets/img/placa1.1.jpg" >
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/placa1.2.jpg" >
    </ion-slide>
    <ion-slide>
      <img src="../../assets/img/placa1.3.jpg" >
    </ion-slide>
      </ion-slides>
    </div>
    
    <div id="especificaciones">
    <div id="especificacion">
      <div id="precios">
        <p id="precio">58,90€</p>
        <strike><p id="noRebaja">87,92€</p></strike>
      </div>
      
      <div id="info">
        <span class="ion-text-start"><b>Gigabyte</b> B550M DS3H </span>
        <p id="fechaProducto">Llega el 30/11/21</p>
        <div id="espacio">
          <ion-chip color="success">En Stock</ion-chip>
        </div>
        <div id="valoraciones"><img src="../../assets/img/valoraciones.png" width="auto" height="45px" alt="" id="valoracionGeneral"><p id="numOpiniones">132 Opiniones</p></div>
    </div>
    </div>
  </div>
  </div>

   
      <div id="informacion">
        <h4 id="titulo1">Especificaciones</h4>  
        <div id="caracteristicas">
      <p style=" text-align: left; font-size: smaller;" >Placa base para juegos AMD B550 con solución VRM digital, LAN para juegos GIGABYTE con administración de ancho de banda, PCIe 4.0 / 3.0 x4 M.2, RGB FUSION 2.0, Smart Fan 5, Q-Flash Plus, Diseño de resistencias anti-azufre.</p>
      <h6>Características:</h6>  
      <ul>
        <li>Admite AMD Ryzen ™ de tercera generación</li>
        <li>DDR4 sin búfer ECC / no ECC de doble canal, 4 DIMM</li>
        <li>Diseño de doble potencia digital de 10 + 3 fases</li>
        <li> PCIe 4.0 Ready x16</li>
        <li>CNVMe PCIe 4.0 / 3.0 x4 M.2</li>
      </ul>
    </div>
    
    </div>
   
      <div>
        <h4 id="titulo1">Opiniones</h4>  
      <div id="opiniones">
        <div id="opinionesPersona">
          <img src="../../assets/img/user.png" width="25%" height="25%" style="margin-top: 3%;" alt="">
          <div id="nombreValoracion">
            <p style="margin-left: 5%; height: 5%; margin-bottom: 0%;">Nick21231</p>
            <img src="../../assets/img/valoraciones.png" alt="" id="valoracionGeneral">
          </div>
        </div>
          <p style="width: 75%; margin-top: 3%;">Buena calidad-precio, contento.</p>
      </div>
      <div id="opiniones">
        <div id="opinionesPersona">
          <img src="../../assets/img/user.png" width="25%" height="25%" style="margin-top: 3%;" alt="">
          <div id="nombreValoracion">
            <p style="margin-left: 5%; height: 5%; margin-bottom: 0%">Nick0002321</p>
            <img src="../../assets/img/valoraciones.png" alt="" id="valoracionGeneral">
          </div>
        </div>
          <p style="width: 75%; margin-top: 3%;">Color muy bonito, y buen rendimiento. Llego en un dia.</p>
      </div>
    </div>
   
      <div>
        <h4 id="titulo1">Preguntas</h4>  
        <div id="preguntas">
        <ion-item>
          <ion-input type="text" placeholder="Hacer pregunta..."></ion-input>
        </ion-item>
        <div id="opinionesPersona">
          <img src="../../assets/img/user.png" width="25%" height="10%" style="margin-top: 3%;" alt="">
          <div id="nombreValoracion">
            <p style="margin-left: 5%; height: 5%; margin-bottom: 2%">Nick0002321</p>
            <p style="margin-top: 0%; margin-left: 5%;">¿Funciona con un procesador i5?</p>
          </div>
          
        </div>
        <p style="text-align: right; color: green; font-size: 80%; width: 80%; margin-top: 0%">1 Respuesta</p>


      </div>
      
    </div>
    
  </div>
      <div id="botones">
        <ion-button color="secondary" id="boton1" fill="outline">
          <ion-icon name="heart" color="danger" style=" padding-top: 3px;"></ion-icon>
        </ion-button>
          
         <ion-button color="secondary" id="boton2" style="font-size: x-small;" fill="outline">
           Añadir al carrito
         </ion-button>
         <ion-button color="secondary" id="boton3" href="/pago">
          Comprar
        </ion-button>
        </div>
      

</ion-content>
